@import-normalize;

body {
    background-color: #211f24;
    font-family: 'Chakra Petch', sans-serif;
    padding: 1.5rem;
    height: 90vh;
    color: #b5c0c9;
    max-width: 1280px;
    margin: auto;
}

.header {
    margin-bottom: 2rem;
    &__title {
        font-size: 3rem;
    }
}

.navbar {
    &__list {
        display: flex;
        list-style: none;
        padding-left: 1rem;
    }

    &__element {
        margin-right: 1rem;
        background-image: url(../public/assets/menu_button.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 6rem;
        height: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__element:hover {
        background-image: url(../public/assets/menu_button_selected.png);
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
        color: #b5c0c9;
    }
}

.home {
    background-image: url(../public/assets/home-background.jpg);
    padding: 1rem;
    height: 40rem;
    box-shadow: 0 0 5px 5px black;
    &__title {
        font-size: 1.8rem;
    }
}

.robots {
    background-image: url(../public/assets/robots-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    box-shadow: 0 0 5px 5px black;
    &__title {
        font-size: 1.8rem;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
    }
}

.add-robots {
    &__form {
        width: 18rem;
        background-color: #101111f2;
        box-shadow: 0px 0px 6px 4px #3fa9f580;
        padding: 1rem;
    }

    &__container {
        display: flex;
    }

    &__label {
        margin-right: 0.5rem;
        padding: 0.15rem;
    }

    &__input {
        background-color: transparent;
        margin-bottom: 0.3rem;
        color: white;
        width: 100%;
        padding: 0.15rem 0.4rem;
    }
    &__button-container {
        margin-top: 0.4rem;
        display: flex;
        justify-content: center;
    }

    &__button {
        font-family: 'Chakra Petch', sans-serif;
        margin-right: 0.5rem;
        background-color: #3fa9f5de;
        padding: 0.15rem 0.4rem;
        border-radius: 0.3rem;
        border: solid 1px black;
        color: #dfe2e5;
        font-weight: 600;
    }
}

.robot {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    background-color: #101111f2;
    box-shadow: 0px 0px 6px 4px #3fa9f580;
    &__title {
        margin: 0;
        font-size: 1.2rem;
    }
    &__image {
        width: 200px;
        height: 200px;
        align-self: center;
        margin-bottom: 0.3rem;
    }
    &__text {
        margin: 0.3rem;
    }
    &__button {
        font-family: 'Chakra Petch', sans-serif;
        margin-bottom: 0.3rem;
        background-color: #3fa9f5de;
        padding: 0.3rem 0.4rem;
        border-radius: 0.3rem;
        border: solid 1px black;
        color: #dfe2e5;
        font-weight: 600;
    }

    &__button--first {
        margin-top: 0.3rem;
    }
}

.favorites{    
    background-image: url(../public/assets/robots-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    box-shadow: 0 0 5px 5px black;
    &__list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
    }
}
